#sub {
  width: 1180px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 120px;
}

#content {
  width: 1180px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
}
#content .left {
  width: 23%;
}
#content .left .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#content .left .inner .title span {
  font: bold 20px/1 "Nanum Gothic";
  color: #333;
}
#content .left .inner .chkbox {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#content .left .inner .chkbox > span {
  border-bottom: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100px;
}
#content .left .inner .chkbox > span > span {
  margin-left: 10px;
}
#content .left .inner .chkbox label {
  margin-left: 45px;
  margin-bottom: 7px;
  font: normal 14px/1 "Nanum Gothic";
}
#content .right {
  width: 77%;
}
#content .right .inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#content .right .inner .three_type {
  margin-right: 10px;
}
#content .right .inner .three_type ul {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 30px;
}
#content .right .inner .three_type ul li {
  font: normal 14px/1 "Nanum Gothic";
  cursor: pointer;
  color: #a5a5a5;
  transition: all 0.3s;
}
#content .right .inner .three_type ul li:hover {
  color: #333;
  font: bold 14px/1 "Nanum Gothic";
}
#content .right .inner .three_type ul li:last-child {
  color: #333;
  font: bold 14px/1 "Nanum Gothic";
}
#content .right .inner .events {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#content .right .inner .events .event {
  width: 280px;
  margin-right: 10px;
  margin-bottom: 50px;
  position: relative;
  height: 350px;
}
#content .right .inner .events .event img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border: 2px solid #bbb;
  position: absolute;
  cursor: pointer;
  transition: all 0.3s;
}
#content .right .inner .events .event img:hover {
  transform: scale(1.05);
  border: none;
}
#content .right .inner .events .event .day {
  width: 70px;
  height: 30px;
  background-color: #ff2f31;
  position: absolute;
  right: -10px;
  top: 30px;
  text-align: center;
  font: bold 15px/30px "Nanum Gothic";
  color: #fff;
  box-shadow: 3px 2px 5px 0px gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#content .right .inner .events .event .event-ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  text-align: left;
}
#content .right .inner .events .event .event-ul li {
  font: normal 13px/1.5 "Nanum Gothic";
  color: #333;
}
#content .right .inner .events .event .event-ul .fee {
  font: bold 14px/1.5 "Nanum Gothic";
  color: #ff2f31;
}
#content .right .inner .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#content .right .inner .pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 13px/1 "Nanum Gothic";
  color: #333;
  transition: 0.3s;
  padding: 5px;
}
#content .right .inner .pagination a:hover {
  color: #111;
  font-weight: bold;
}
#content .right .inner .pagination a span {
  margin: 0 20px;
}
#content .right .inner .pagination .numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

#join {
  margin-top: 500px;
  margin: 120px auto;
}
#join .inner .join__1st {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#join .inner .join__1st .join__title {
  margin-top: 100px;
  margin-bottom: 50px;
}
#join .inner .join__1st .join__title h4 {
  font: bold 30px/1 "Nanum Gothic";
}
#join .inner .join__1st .inputboxs {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 30px;
  margin-bottom: 100px;
}
#join .inner .join__1st .inputboxs label p {
  font: bold 14px/1 "Nanum Gothic";
  margin-bottom: 10px;
  margin-left: 5px;
}
#join .inner .join__1st .inputboxs label input {
  width: 400px;
  padding: 10px;
  font: normal 12px/1 "Nanum Gothic";
  color: #bbb;
  border-radius: 50px;
  border: 1px solid #333;
}
#join .join__2nd {
  background-color: #f2f2f2;
  margin-bottom: 100px;
}
#join .join__2nd .terms {
  display: flex;
  flex-direction: column;
  padding: 50px 0px 50px 750px;
}
#join .join__2nd .terms h5 {
  font: bold 16px/1 "Nanum Gothic";
  margin-bottom: 30px;
}
#join .join__2nd .terms .checkboxs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#join .join__2nd .terms .checkboxs label {
  display: flex;
  align-items: center;
}
#join .join__2nd .terms .checkboxs label p {
  font: normal 14px/1 "Nanum Gothic";
  margin-left: 10px;
}
#join .join__2nd .terms .checkboxs label p span {
  text-decoration: underline;
  font: bold 14px/1 "Nanum Gothic";
}
#join .join__2nd .terms .checkboxs label .agree {
  font: bold 14px/1 "Nanum Gothic";
}
#join .join__2nd .terms .checkboxs label input {
  font: normal 12px/1 "Nanum Gothic";
  color: #bbb;
  border-radius: 50px;
  border: 1px solid #333;
}
#join .button {
  margin: 0 auto;
}
#join .button button {
  width: 400px;
  border-radius: 50px;
  background-color: #ff3030;
  color: #fff;
  border: none;
  font: bold 14px/1 "Nanum Gothic";
  letter-spacing: 1px;
}

#login {
  margin-top: 500px;
  margin: 120px auto;
}
#login .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login .inner .login__title {
  margin-top: 100px;
  margin-bottom: 50px;
}
#login .inner .login__title h4 {
  font: bold 30px/1 "Nanum Gothic";
}
#login .inner .login__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#login .inner .login__input input {
  width: 400px;
  padding: 10px;
  font: normal 12px/1 "Nanum Gothic";
  color: #bbb;
  border-radius: 50px;
  border: 1px solid #333;
}
#login .inner .login__input .input__pw {
  position: relative;
  display: flex;
  align-items: center;
}
#login .inner .login__input .input__pw .material-icons {
  position: absolute;
  right: 20px;
}
#login .inner .button {
  margin-top: 50px;
}
#login .inner .button .inner button {
  width: 400px;
  border-radius: 50px;
  background-color: #ff3030;
  color: #fff;
  border: none;
  font: bold 14px/1 "Nanum Gothic";
  letter-spacing: 1px;
}
#login .inner .login__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -120px;
  font: normal 14px/1 "Nanum Gothic";
  width: 400px;
  padding: 0px 10px;
  margin-bottom: 100px;
}
#login .inner .login__txt .stay__login {
  display: flex;
  align-items: center;
}
#login .inner .login__txt .stay__login .material-icons {
  margin-right: 5px;
  font-size: 30px;
}
#login .inner .sns__txt {
  width: 400px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  flex-direction: column;
}
#login .inner .sns__txt span {
  font: normal 16px/1 "Nanum Gothic";
  margin-bottom: 30px;
}
#login .inner .sns__txt .sns__img {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#login .inner .line {
  width: 400px;
  height: 2px;
  background-color: #ddd;
  margin-bottom: 50px;
}
#login .inner .button__white {
  margin-bottom: 50px;
}
#login .inner .button__white .inner button {
  width: 400px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  color: #111;
  border: 1px solid #111;
  font: bold 14px/1 "Nanum Gothic";
  letter-spacing: 1px;
  cursor: pointer;
}

/*COMMON*/
body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
}

/*INNER*/
.inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

* {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff !important;
  z-index: 9;
}
header .inner {
  height: 120px;
}
header .inner .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .inner .logo img {
  width: 25%;
}
header .inner .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .inner .sub-menu ul {
  display: flex;
  font-family: Arial, sans-serif;
}
header .inner .sub-menu ul li {
  position: relative;
}
header .inner .sub-menu ul li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .inner .sub-menu ul li:first-child::before {
  display: none;
}
header .inner .sub-menu ul li a {
  font-size: 12px;
  color: #656565 !important;
  padding: 11px 16px;
  display: block;
}
header .inner .sub-menu ul li a:hover {
  color: #000 !important;
}
header .inner .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
header .inner .main-menu .item {
  color: #111 !important;
}
header .inner .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font: normal 14px/1 "Nanum Gothic";
}
header .inner .main-menu .item .item__name a {
  color: #111 !important;
}
header .inner .main-menu .item:hover .item__name {
  color: #111 !important;
  font-weight: bold;
  cursor: pointer;
}
header .inner .main-menu .item:last-child {
  background-color: #ff2f31 !important;
  color: #fff !important;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  height: 35px;
  margin-left: 30px;
}
header .inner .main-menu .item:hover .red {
  padding: 10px 20px 10px 20px;
  background-color: #ff2f31 !important;
  color: #fff !important;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  height: 35px;
}
header .inner .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  top: 120px;
  left: 0;
  display: none;
}
header .inner .main-menu .item .item__contents .contents__menu {
  background-color: #fff;
  height: 160px;
  border-top: 5px solid #ddd;
  box-shadow: none !important;
}
header .inner .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  justify-content: end;
  padding: 20px 0;
  height: 100%;
}
header .inner .main-menu .item .item__contents .contents__menu > ul > li {
  width: 180px;
  text-align: center;
}
header .inner .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #ff2f31;
  font-weight: bold;
}
header .inner .main-menu .item .item__contents .contents__menu > ul > li > ul > li {
  padding: 5px 0;
  font-size: 12px;
  color: #333;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}
header .inner .main-menu .item .item__contents .contents__menu > ul > li > ul > li:hover {
  color: #bbb;
  font-weight: bold;
}
header .inner .main-menu .item:hover .item__contents {
  display: block;
}

#visual {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f6f5f0;
  margin-top: 120px;
}
#visual .promotion {
  width: 100%;
  position: relative;
  transition: height 0.4s;
  overflow: hidden;
  margin: 0 auto;
}
#visual .promotion img {
  width: 100%;
}
#visual .promotion .swiper-button-next,
#visual .promotion .swiper-button-prev,
#visual .promotion .swiper-pagination {
  color: #fff;
}

#search {
  margin-top: 50px;
}
#search .inner {
  display: flex;
  flex-direction: column;
}
#search .inner input {
  width: 70%;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #333;
  border-radius: 30px;
  padding: 5px 20px;
}
#search .inner .material-icons {
  font-size: 25px;
  position: absolute;
  right: 200px;
  top: 12px;
  cursor: pointer;
}
#search .inner .buttons {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
#search .inner .buttons button {
  padding: 5px 20px;
  height: 35px;
  display: inline-block;
  border: 2px solid #ff2f31;
  border-radius: 30px;
  margin-right: 20px;
  background-color: #fff;
  color: #ff2f31;
  font: normal 13px/1 "Nanum Gothic";
}

#popular {
  margin-bottom: 50px;
}
#popular .inner .popular__txt {
  font: bold 20px/1.3 "Nanum Gothic";
  padding: 20px 20px;
}
#popular .inner .popular__txt span {
  font: normal 13px/1 "Nanum Gothic";
}
#popular .inner .swiper {
  height: 350px;
  height: 470px;
}
#popular .inner .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  position: relative;
  height: 350px;
  height: 450px;
}
#popular .inner .swiper .swiper-wrapper .swiper-slide img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border: 2px solid #bbb;
  position: absolute;
  top: 5px;
  cursor: pointer;
}
#popular .inner .swiper .swiper-wrapper .swiper-slide .day {
  width: 70px;
  height: 30px;
  background-color: #ff2f31;
  position: absolute;
  right: 10px;
  top: 30px;
  text-align: center;
  font: bold 15px/30px "Nanum Gothic";
  color: #fff;
  box-shadow: 3px 2px 5px 0px gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#popular .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  left: 20px;
  text-align: left;
}
#popular .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul li {
  font: normal 14px/1.5 "Nanum Gothic";
}
#popular .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul .fee {
  font: bold 14px/1.5 "Nanum Gothic";
  color: #ff2f31;
}
#popular .inner .swiper .swiper-button-next::after,
#popular .inner .swiper .swiper-button-prev::after {
  display: none;
}
#popular .inner .swiper .swiper-button-next,
#popular .inner .swiper .swiper-button-prev {
  position: absolute;
  top: 40%;
}
#popular .inner .swiper .swiper-button-next img,
#popular .inner .swiper .swiper-button-prev img {
  width: 45px;
}

#new {
  margin-bottom: 50px;
}
#new .inner .popular__txt {
  font: bold 20px/1.3 "Nanum Gothic";
  padding: 20px 20px;
}
#new .inner .popular__txt span {
  font: normal 13px/1 "Nanum Gothic";
}
#new .inner .swiper {
  height: 350px;
  height: 470px;
}
#new .inner .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  position: relative;
  height: 350px;
  height: 450px;
}
#new .inner .swiper .swiper-wrapper .swiper-slide img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border: 2px solid #bbb;
  position: absolute;
  top: 5px;
  cursor: pointer;
}
#new .inner .swiper .swiper-wrapper .swiper-slide .day {
  width: 70px;
  height: 30px;
  background-color: #ff2f31;
  position: absolute;
  right: 10px;
  top: 30px;
  text-align: center;
  font: bold 15px/30px "Nanum Gothic";
  color: #fff;
  box-shadow: 3px 2px 5px 0px gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#new .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  left: 20px;
  text-align: left;
}
#new .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul li {
  font: normal 14px/1.5 "Nanum Gothic";
}
#new .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul .fee {
  font: bold 14px/1.5 "Nanum Gothic";
  color: #ff2f31;
}
#new .inner .swiper .swiper-button-next::after,
#new .inner .swiper .swiper-button-prev::after {
  display: none;
}
#new .inner .swiper .swiper-button-next,
#new .inner .swiper .swiper-button-prev {
  position: absolute;
  top: 40%;
}
#new .inner .swiper .swiper-button-next img,
#new .inner .swiper .swiper-button-prev img {
  width: 45px;
}

#recomm {
  margin-bottom: 50px;
}
#recomm .inner .popular__txt {
  font: bold 20px/1.3 "Nanum Gothic";
  padding: 20px 20px;
}
#recomm .inner .popular__txt span {
  font: normal 13px/1 "Nanum Gothic";
}
#recomm .inner .swiper {
  height: 350px;
  height: 470px;
}
#recomm .inner .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  position: relative;
  height: 350px;
  height: 450px;
}
#recomm .inner .swiper .swiper-wrapper .swiper-slide img {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border: 2px solid #bbb;
  position: absolute;
  top: 5px;
  cursor: pointer;
}
#recomm .inner .swiper .swiper-wrapper .swiper-slide .day {
  width: 70px;
  height: 30px;
  background-color: #ff2f31;
  position: absolute;
  right: 10px;
  top: 30px;
  text-align: center;
  font: bold 15px/30px "Nanum Gothic";
  color: #fff;
  box-shadow: 3px 2px 5px 0px gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#recomm .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  left: 20px;
  text-align: left;
}
#recomm .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul li {
  font: normal 14px/1.5 "Nanum Gothic";
}
#recomm .inner .swiper .swiper-wrapper .swiper-slide .swiper-slide-ul .fee {
  font: bold 14px/1.5 "Nanum Gothic";
  color: #ff2f31;
}
#recomm .inner .swiper .swiper-button-next::after,
#recomm .inner .swiper .swiper-button-prev::after {
  display: none;
}
#recomm .inner .swiper .swiper-button-next,
#recomm .inner .swiper .swiper-button-prev {
  position: absolute;
  top: 40%;
}
#recomm .inner .swiper .swiper-button-next img,
#recomm .inner .swiper .swiper-button-prev img {
  width: 45px;
}

.button {
  margin: 100px 0px 130px 0px;
}
.button .inner button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #333;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}

#time {
  width: 100%;
  background-color: #ff2f31;
  margin-bottom: 130px;
}
#time .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 50px 100px;
}
#time .inner .time__box p {
  text-align: center;
  font: normal 16px/2 "Nanum Gothic";
}
#time .inner .time__box p span {
  font: bold 30px/2 "Nanum Gothic";
}
#time .inner .time__box p:nth-child(2) {
  font: normal 14px/2 "Nanum Gothic";
}

#adv {
  margin-bottom: 130px;
}
#adv .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#adv .inner .adv__01 {
  font: bold 25px/2 "Nanum Gothic";
  margin-bottom: 50px;
}
#adv .inner .adv__02 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#adv .inner .adv__02 .box {
  width: 300px;
  height: 300px;
  border: 2px solid #aaa;
  margin: 20px;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}
#adv .inner .adv__02 .box span {
  font-size: 50px;
}
#adv .inner .adv__02 .box p {
  text-align: center;
  margin-top: 20px;
  font: bold 15px/2 "Nanum Gothic";
}
#adv .inner .adv__02 .box:first-child span {
  margin-top: -10px;
}

#footer {
  width: 100%;
  padding: 50px 0;
  background: #2d2d2d;
  position: relative;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner h1 {
  float: left;
}
#footer .inner h1 img {
  width: 30%;
}
#footer .inner ul {
  float: right;
  position: absolute;
  top: 50px;
  right: 0px;
}
#footer .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer .inner ul li a {
  font: 14px/1 "Nanum Gothic";
  color: #fff;
  transition: 0.5s;
}
#footer .inner ul li a:hover {
  color: #868686;
  transition: 0.5s;
}
#footer .inner address {
  float: left;
  width: 100%;
  font: 12px/1.7 "Nanum Gothic";
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border-top: 1px solid #888;
}
#footer .inner address span {
  font: bold 14px/1.5 "Nanum Gothic";
}
#footer .inner p {
  float: left;
  width: 100%;
  font: 13px/1 "Nanum Gothic";
  color: #fff;
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
